.crwdmarket {
  background-color: #0c0c0c;

  .hotdeals,
  .branddeals {
    .Titlediscription {
      .title {
        br {
          display: none;
        }
      }
    }
  }
  .hotdeals {
    .rightside,
    .leftside {
      h2 {
        color: #ffffff;
        font-size: 24px;
      }
      p {
        color: #00cfe5;
        cursor: pointer;
        display: inline;
        text-transform: capitalize;
      }
    }
    .leftside {
      background-image: url("../../assets/images/wireless-on-ear-headphones-on-black-background.jpg");
      background-position: top center;
      background-size: cover;
      .backcolor {
        padding: 40px 40px 40px 40px;
        background-color: #0000008c;
      }
    }
    .rightside {
      background-image: url("../../assets/images/credit-card-banking-budget-concept.jpg");
      background-position: top center;
      background-size: cover;
      .backcolor {
        padding: 40px 40px 40px 40px;
        // background-image: linear-gradient(180deg, #21212136 0%, #000000 100%);
        background-color: transparent;
        background-image: linear-gradient(
          180deg,
          rgba(33, 33, 33, 0.2117647059) 0%,
          #00000082 100%
        );
        // opacity: 0.49;
      }
    }
  }
  .branddeals {
    padding: 50px 0px 160px 0px;

    .leftside,
    .rightside,
    .centerside {
      h2 {
        color: #ffffff;
        font-size: 24px;
      }
      p {
        color: #00cfe5;
        cursor: pointer;
        display: inline;
        text-transform: capitalize;
      }
    }

    .leftside {
      background-image: url("../../assets/images/left.jpg");
      background-position: center center;
      background-size: cover;
      border-radius: 5px;
      .backcolor {
        padding: 40px 40px 40px 40px;
        background-color: rgb(0 0 0 / 39%);
      }
    }
    .centerside {
      background-image: url("../../assets/images/center.jpg");
      background-position: center center;
      background-size: cover;
      border-radius: 5px;

      .backcolor {
        padding: 40px 40px 40px 40px;
        background-color: rgb(0 0 0 / 39%);
      }
    }
    .rightside {
      background-image: url("../../assets/images/right.jpg");
      background-position: center center;
      background-size: cover;
      border-radius: 5px;

      .backcolor {
        padding: 40px 40px 40px 40px;
        background-color: rgb(0 0 0 / 39%);
      }
    }
  }

  .FinancialNeeds {
    padding: 100px 0 50px 0;
  }

  //

  @media screen and (max-width: 1200px) {
    .branddeals {
      h2 {
        font-size: 30px;
      }
      .leftside,
      .centerside,
      .rightside {
        .backcolor {
          padding: 20px;
        }
      }
      .centerside {
        margin: 0 0;
      }
    }
    .hotdeals {
      h2 {
        font-size: 30px;
      }
      .leftside {
        .backcolor {
          padding: 20px;
        }
      }
      .rightside {
        .backcolor {
          padding: 20px;
        }
      }
    }
  }

  @media screen and (max-width: 1025px) {
    .crwdmarket {
      .hotdeals,
      .branddeals,
      .compunies {
        padding: 0 30px;
      }
    }
  }

  @media screen and (max-width: 993px) {
    .hotdeals {
      .leftside {
        margin-bottom: 20px;
      }
    }
    .branddeals {
      .rightside {
        margin: 30px 0;
      }
    }
    .DownloadNow {
      .container-fluid {
        .downloadimg {
          margin: -65px 0 -100px 0;
        }
      }
    }
  }
  @media screen and (max-width: 768px) {
    .branddeals,
    .hotdeals {
      text-align: center;
    }
    .compunies {
      padding: 0px 0px 40px 0px;
    }
    .branddeals {
      padding: 40px 0;
      .centerside {
        margin: 20px 0;
      }
    }
    .DownloadNow {
      .container-fluid {
        .downloadimg {
          margin: -65px 0 0px 0;
        }
      }
    }
  }
}
