.news {
  // padding: 140px 0px 60px 0px;
  background-color: #0c0c0c;

  .headingcustom {
    .title {
      br {
        display: none;
      }
    }
  }
}

.news.and.blog.blgpage {
  .custombutton {
    .button {
      display: none !important;
    }
  }
}
