.textareaField,
.inputFiled {
  border: 1px solid #292929;
  background: transparent;
  padding: 15px;
  width: 100%;
  border-radius: 5px;
  color: white;
  &:focus {
    outline: none !important;
    border: 1px solid #292929;
  }
}

.textareaField {
  height: 150px;
  resize: none;
}

@media screen and (max-width: 768px) {
  .textareaField {
    height: 100px;
  }
}
