.custombutton {
  button {
    font-size: 16px;
    font-weight: 400;
    color: #ffffff;
    background-color: transparent;
    background-image: radial-gradient(at top left, #00cfe5 0%, #00cfe5 50%);
    border-radius: 5px 5px 5px 5px;
    padding: 11px 33px 11px 33px;
    border: 1px solid #00cfe5;
    // font-family: Neuropolxlight;
  }

  @media screen and (max-width: 993px) {
    display: flex;
    margin: auto;
    justify-content: center;
  }
}
