.ResponsiveNavbar {
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .show > .nav-link {
    color: hsl(186, 100%, 45%);
  }
  a.nav-link.active {
    color: hsl(186, 100%, 45%) !important;
  }
  .dropdown-item.active,
  .dropdown-item:active {
    color: black !important;
    text-decoration: none;
    background-color: #00cfe5;
  }

  .layout {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    height: 100vh;
    background: black;

    .navbar-nav {
      background-color: black;
      padding-top: 50px;
      height: 100%;
      .logoname {
        padding-left: 20px;
      }

      .dropdown-menu {
        position: static;
        margin-left: 20px;
      }
      .nav-link {
        font-size: 20px;
        // font-weight: 500;
        padding: 0px 20px 0px 20px;
        color: #ffffff;
        font-family: Neuropol_X_Light;
        line-height: 2;
        &:hover {
          color: #00cfe5;
        }
      }

      .dropdown-item.active,
      .dropdown-item:active {
        background-color: #00cfe5;
      }
      .dropdown-item {
        color: white;
        // &:active {
        //   background-color: #00cfe5;
        // }
      }
      li.nav-item.dropdown:hover .dropdown-menu {
        display: block !important;
        font-size: 20px;
        padding: 10px 10px 10px 10px;
        background-color: black;
        border-radius: 5px 5px 5px 5px;
        max-width: 200px;
        font-family: Neuropol_X_Light !important;
        border: none;
        font-family: Neuropol_X_Light;
        color: white;
        // margin-top: 10px;
        :hover {
          background-color: #00cfe5 !important;
          color: #0c0c0c !important;
        }
      }
    }
    li.nav-link.mobilemenu {
      display: flex;
      justify-content: space-between;
    }
  }
}
