@-webkit-keyframes jkit-ripple {
  70% {
    -webkit-box-shadow: 0 0 0 15px #00cfe5;

    box-shadow: 0 0 0 15px #00cfe5;

    opacity: 0;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #00cfe5;

    box-shadow: 0 0 0 0 #00cfe5;

    opacity: 0;
  }
}
@keyframes jkit-ripple {
  70% {
    -webkit-box-shadow: 0 0 0 15px #00cfe5;
    box-shadow: 0 0 0 15px #00cfe5;
    opacity: 0;
  }
  100% {
    -webkit-box-shadow: 0 0 0 0 #00cfe5;
    box-shadow: 0 0 0 0 #00cfe5;
    opacity: 0;
  }
}



@-webkit-keyframes animate-positive {
  0% {
    width: 0;
  }
}

@keyframes animate-positive {
  0% {
    width: 0;
  }
}

.elementor-animation-bob:active,
.elementor-animation-bob:focus,
.elementor-animation-bob:hover {
  animation-name: elementor-animation-bob-float, elementor-animation-bob;
  animation-duration: 0.3s, 1.5s;
  animation-delay: 0s, 0.3s;
  animation-timing-function: ease-out, ease-in-out;
  animation-iteration-count: 1, infinite;
  animation-fill-mode: forwards;
  animation-direction: normal, alternate;
}

@keyframes elementor-animation-bob-float {
  100% {
    transform: translateY(-8px);
  }
}

@keyframes elementor-animation-bob {
  0% {
    transform: translateY(-8px);
  }

  50% {
    transform: translateY(-4px);
  }

  100% {
    transform: translateY(-8px);
  }
}


@-webkit-keyframes jkit-scrolling-vertical {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  49% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes jkit-scrolling-vertical {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  49% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}


