.servicesbox {
  border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #ffffff17;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  // margin: 0 10px 0 0;
  // margin-bottom: 25px;

  padding: 30px 25px 30px 25px;
  background-image: radial-gradient(at top left, #393939 0%, #1b1b1b 47%);
  border-radius: 10px 10px 10px 10px;
  .icon {
    margin: 0px 0px 5px 0px;
    i,
    svg {
      font-size: 50px;
      color: #00cfe5;
      fill: #00cfe5;
    }
  }
  .box-body {
    .title {
      font-size: 24px;
      margin-top: 1rem;
      margin-bottom: 1rem;
      color: white;
      font-weight: 600;
      letter-spacing: 1px;
    }
    .description {
      color: #d1d1d1;
    }
  }

  .icon-box-btn {
    font-size: 15px;
    color: #00cfe5;
    cursor: pointer;
    text-transform: capitalize;
    span {
      svg {
        font-size: 25px;
      }
    }
    // &:hover {
    //   background-color: #00cfe5;
    //   color: white;
    //   border-radius: 5px;
    //   display: inline-block;
    //   line-height: 0.7;
    // }
  }
}

@media screen and(max-width : 993px) {
  // servicesbox {

  // }
}

.jki-laptop-phone-light::before {
  content: "\f83d";
}
.jki-save-money-light::before {
  content: "\faef";
}
.jki-credit-card-light::before {
  content: "\fa03";
}
.jki-invest-light::before {
  content: "\f971";
}
.jki-bill-light::before {
  content: "\fac7";
}
.jki-product-sale-light::before {
  content: "\f92b";
}
