.Contactus {
  background-color: #0c0c0c;

  .getaquote {
    // padding: 100px 0px 100px 0px;

    .leavemessage {
      font-size: 25px;
      font-weight: 500;
      color: #ffffff;
      margin-bottom: 20px;
    }

    form {
      display: flex;
      width: 100%;
      flex-wrap: wrap;
      justify-content: space-between;

      textarea,
      input {
        border-color: #ffffff57;

        &:focus {
          border-color: white;
        }
      }
      p {
        width: 100%;

        input.submit {
          width: 100%;
          letter-spacing: 1px;
        }
      }
      // .custombutton {
      //   width: 100% !important;
      //   button {
      //     width: 100%;
      //   }
      // }
      .inputFormDiv {
        width: 48%;
        margin-bottom: 20px;
        label {
          margin-bottom: 10px;
          font-weight: 700;
          color: #ffffff;
          span {
            color: #00cfe5;
          }
        }
      }
    }

    .rightside {
      padding: 0 0 0 30px;
      .Titlediscription {
        .title {
          br {
            display: none;
          }
        }
      }

      .box-section {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
      }

      hr {
        height: 0;
        margin: 0;
        border: 1px solid #eaeaea21;
      }
      .social-media {
        display: flex;
        justify-content: space-between;
        margin-top: 20px;
        margin-bottom: 0;

        .title {
          h1 {
            font-size: 24px;
            color: #ffffff;
            letter-spacing: 2px;
          }
        }
        .social-link {
          display: flex;

          .icon {
            width: 40px;
            height: 40px;
            background: white;
            text-align: center;
            line-height: 43px;
            border-radius: 50%;
            transition-duration: 0.3s;
            transition-property: transform;
            margin-left: 10px;
            svg,
            i {
              font-size: 20px;
              color: #00cfe5;
            }

            svg:hover {
              // background-color: #00cfe5;
              // color: white !important;
              // cursor: pointer;
            }
            // &:hover {
            //   background-color: #00cfe5;
            //   color: white !important;
            //   cursor: pointer;
            // }
          }
          .icon:hover {
            background-color: #00cfe5;

            cursor: pointer;
            svg,
            i {
              color: white !important;
            }
          }
        }
        .icon:hover {
          transform: scale(0.9);
          transition-duration: 0.3s;
          transition-property: transform;
        }
      }
    }
  }
  .googlemap {
    //   padding: 0px 0px 120px 0px;
    border-top: 1px solid rgb(24, 24, 24);
  }

  @media screen and (max-width: 993px) {
    .getaquote {
      .rightside {
        text-align: center;
        padding: 30px;
      }

      .ContactUsBox {
        .contact {
          text-align: start;
        }
      }
      .leavemessage {
        text-align: center;
      }
    }
  }
  @media screen and (max-width: 600px) {
    .getaquote {
      form {
        .inputFormDiv {
          width: 100%;
        }
      }
      .rightside {
        text-align: center;
        padding: 30px 30px 0 30px;
      }
      .social-media {
        flex-direction: column;
        .social-link {
          justify-content: center;
        }
      }
    }
  }
}
