.Home {
  background-color: #0c0c0c;

  .herosection {
    background-image: radial-gradient(at top left, #252525 0%, #0c0c0c 52%);
    margin-top: -140px;

    .backgroundoverlay {
      background-image: url("../../assets/images/bg-color.png");
      background-position: 64vw 0px;
      background-repeat: no-repeat;
      background-size: cover;
      padding: 130px 0px 90px;

      .forcontext {
        display: flex;
        align-items: center;
      }
      .leftside {
        padding: 40px 0px 0px 0px;

        .Titlediscription {
          .title {
            font-size: 52px;
            br {
              display: none;
            }
          }
        }
        .count {
          display: flex;
          justify-content: space-around;
          margin-bottom: 40px;
          .content:nth-child(3) {
            border-right: 0;
          }
          .content {
            padding: 0 35px;
            // border: none;
            position: relative;
          }
          .content:after {
            content: "";
            height: 20px;
            width: 1px;
            background: #eaeaeb;
            position: absolute;
            top: 50%;
            right: -5px;
            margin-top: -10px;
          }
          .content:last-child:after {
            display: none;
          }
        }
        .learnmore {
          button {
            font-size: 16px;
            font-weight: 400;
            fill: #ffffff;
            color: #ffffff;
            background-color: transparent;
            background-image: radial-gradient(
              at top left,
              #00cfe5 0%,
              #00cfe5 50%
            );
            border-radius: 5px 5px 5px 5px;
            padding: 11px 33px 11px 33px;
          }
        }
      }

      .rightside {
        .image {
          width: 80%;
          margin: auto;
          .classImage {
            width: 100%;
          }
          img:hover {
            // width: 100%;

            animation-name: elementor-animation-bob-float,
              elementor-animation-bob;
            animation-duration: 0.3s, 1.5s;
            animation-delay: 0s, 0.3s;
            animation-timing-function: ease-out, ease-in-out;
            animation-iteration-count: 1, infinite;
            animation-fill-mode: forwards;
            animation-direction: normal, alternate;
          }
        }
      }
    }
  }

  .FinancialNeeds {
    padding: 0;
  }

  @media screen and (max-width: 1400px) {
    .herosection {
      .backgroundoverlay {
        .leftside {
          .count {
            .content {
              padding: 0 30px;
              margin-bottom: 20px;
            }
            .content:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
    .newletter {
      padding: 0 0 100px;
    }
  }

  @media screen and (max-width: 1200px) {
    .herosection {
      .backgroundoverlay {
        .forcontext {
          padding-left: 30px;
        }
      }
    }
    .FinancialNeeds {
      padding: 40px 0;
    }
    .newletter {
      padding: 0 0 80px;
    }
  }

  @media screen and (max-width: 1024px) {
    .DownloadNow {
      .container-fluid {
        .downloadimg {
          margin: 0 0 0 0;
        }
      }
    }

    .herosection {
      .backgroundoverlay {
        .leftside {
          .count {
            .content:after {
              display: none;
            }
          }
          .Titlediscription {
            .title {
              font-size: 42px;
              line-height: 45px;
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 993px) {
    .newletter {
      padding: 40px 30px 40px 30px;
    }

    .herosection {
      // margin-top: 60px;
      .backgroundoverlay {
        background-image: none;
        padding: 90px 0px 0px 0;
        // padding: 0;
        .forcontext {
          order: 2;
          padding-left: 0;
          padding-right: 0;
        }
        .leftside {
          padding: 40px 30px;
          .Titlediscription {
            .title {
              font-size: 40px;
              line-height: 45px;
            }
          }
        }
        .rightside {
          padding: 40px 0 0 0;

          .image {
            width: 80%;
            text-align: center;
            .classImage {
              width: auto;
              max-height: 600px;
            }
          }
        }
      }
    }
    .WhyChooseUs {
      // text-align: center;
      .container-fluid {
        .contextside {
          .progressbarsection {
            width: 100%;
            max-width: 100%;
          }
        }
      }
    }
    // .DownloadNow {
    //   .container-fluid {
    //     .rightisde {
    //       .stores {
    //         justify-content: center;
    //       }
    //     }
    //     .downloadimg {
    //       margin: 0 0 0 0;
    //     }
    //   }
    // }
    //
  }

  @media screen and (max-width: 768px) {
    .FinancialNeeds {
      padding: 40px 20px;
    }

    .herosection {
      .backgroundoverlay {
        .leftside {
          text-align: center;

          .count {
            flex-direction: column;
            text-align: center;

            .content:after {
              display: none;
            }
          }
          .learnmore {
            text-align: center;
          }
        }
        .rightside {
          .image {
            width: 100%;
          }
        }
      }
    }
    .aboutcompany {
      // text-align: center;
      .leftside {
        .about {
          .boxexperience {
            display: none;
          }
        }
      }
    }

    .faq {
      .leftside {
        text-align: center;
      }
    }
    .DownloadNow {
      text-align: center;
      margin: auto;
    }
  }

  @media screen and (max-width: 500px) {
    .herosection {
      .backgroundoverlay {
        .rightside {
          .image {
            .classImage {
              width: auto;
              max-height: 400px;
            }
          }
        }
        .leftside {
          .Titlediscription {
            .title {
              font-size: 25px;
              line-height: 30px;
            }
          }
        }
      }
    }
  }
}
