.FinancialNeeds {
  padding: 50px 0px 100px 0px;
  background-color: #0c0c0c;
  text-align: center;

  .centerbox {
    .box {
      .bottom {
        .iconitem {
          span.listicon {
            i {
              color: #00cfe5;
              font-size: 25px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .FinancialNeeds {
    padding: 50px 0px 40px 0px;
  }
}

@media screen and (max-width: 993) {
  .FinancialNeeds {
    padding: 40px 0px 40px 0px;
  }
}
