.FinancialNeeds {
  padding: 50px 0px 100px 0px;
  background-color: #0c0c0c;
  text-align: center;

  .centerbox {
    .box {
      .bottom {
        .iconitem {
          span.listicon {
            i {
              color: #00cfe5;
              font-size: 30px;
              line-height: 35px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .FinancialNeeds {
    padding: 50px 0px 40px 0px;
  }
}

@media screen and (max-width: 1025px) {
  .mobileCoulum {
    padding: 0 30px;
  }
}
@media screen and (max-width: 993px) {
  .aboutcompany {
    .rightside {
      ul.list {
        width: 60%;
        margin: auto;
        padding-left: 80px;
        li {
          text-align: start;
        }
      }
    }
  }
  .FinancialNeeds {
    padding: 40px 30px 40px 30px;

    // .row.mobileCoulum {
    //   flex-direction: column;
    // }
    // .mobileMax {
    //   max-width: 350px !important;
    //   width: 100% !important;
    //   margin: 0 auto !important;
    // }
  }
}

@media screen and (max-width: 768px) {
  .mobileCoulum {
    padding: 0;
  }
  .aboutcompany {
    .rightside {
      ul.list {
        width: 80%;
        margin: auto;
        padding-left: 80px;
        li {
          text-align: start;
        }
      }
    }
  }
}

@media screen and (max-width: 620px) {
  .aboutcompany {
    .rightside {
      ul.list {
        width: 100%;
        margin: 0 auto;
        padding-left: 0px;
        max-width: 200px;
        li {
          text-align: start;
          width: 100%;
        }
      }
    }
  }
}
