.newletter {
  // padding: 80px 0px 80px 0px;
  background-color: #0c0c0c;

  .container {
    background-image: url("../../assets/images/bg.jpg");
    background-position: center center;
    background-size: cover;
    .row {
      background-color: rgba(0, 0, 0, 0.9);
      padding: 80px 0;
    }
  }
  .title {
    br {
      display: none;
    }
  }

  .emailform {
    display: flex;

    input {
      flex: 1 1 auto;
      border-radius: 5px 0px 0px 5px;
      padding: 15px 20px 15px 20px;
      border: none;
      &:focus {
        outline: none;
      }
    }
    button {
      flex: 0 0 140px;
      height: 100%;
      border-radius: 0 10px 10px 0;
      border: none;
    }
  }
}
