.compunies {
  // padding: 100px 0px 100px 0px;

  .imagediv {
    text-align: center;
    margin: 20px 0;
    img {
      width: 50%;
      filter: brightness(100%) contrast(23%) saturate(0%) blur(0px)
        hue-rotate(0deg);
    }
  }
}

@media screen and (max-width: 768px) {
  .compunies {
    .imagediv {
      img {
        width: 100%;
        max-width: 250px;
      }
    }
  }
}
